@keyframes bola{
    0% {opacity: 0%;}
    33% {transform: translate(30px) scale(1.6) ;}
    100% {opacity: 100%;}
}

img{ 
    position: absolute;             
    left: 550px;
    animation-name: bla;
    animation-duration:4s;
    animation-iteration-count: infinite;
    height: 200px;
    width: 200px;
}

.emoji{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: scale(7);
}

p{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: scale(7) rotate(180deg) translate(-33px);
}

button{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 5vw;
    background-color: salmon;
}

button:hover{
    background-color: seagreen;
    transition-property: initial;
    transition-duration: 2s;
}
