body{
    background-color: black;
    height: 720px;
    width: 1200px;
}
h1{
    color: white;
    text-align: center;
}

ul{
    position: relative;
    left: 5%;
    top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

img{
    position: relative;
    width: 350px;
    height: 175px;
}
.titulo{
    font-variant: unset;
    font-style: initial;
    font-size: larger;
    color: white;
}
.view{
    color: white;
    font-size: small;
    opacity: 60%;
}